@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bullet-color: 209, 213, 219;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --bullet-color: 75, 85, 99;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

ul {
  display: block; 
  list-style: none;
  margin-top: 1em; 
  margin-bottom: 1 em; 
  margin-left: 0; 
  margin-right: 0; 
  padding-left: 50px;
}
li::marker {
  content: "\2022    ";
  font-size: 1.2em;
  color: rgb(var(--bullet-color)); /* Change the color */
}

li {
  display: list-item;
  word-wrap: break-word;
}