@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  .markdown_a {
    color: #22d3ee;
  
  }
  .markdown_a::after {
    background-color: #22d3ee;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bullet-color: 209, 213, 219;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --bullet-color: 75, 85, 99;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

ul {
  display: block; 
  list-style: none;
  margin-top: 1em; 
  margin-bottom: 1 em; 
  margin-left: 0; 
  margin-right: 0; 
  padding-left: 50px;
}
li::marker {
  content: "\2022    ";
  font-size: 1.2em;
  color: rgb(var(--bullet-color)); /* Change the color */
}

li {
  display: list-item;
  word-wrap: break-word;
}

.markdown_a {
  color: #2563eb;
  text-decoration: none;
  position: relative;

}

.markdown_a::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #2563eb;
  transition: width 0.3s ease;
}


.markdown_a:hover::after {
  width: 100%;
}

