name: "Deploy (Preview)"
on:
  workflow_dispatch: # manual trigger
  pull_request:
  push:
    branches-ignore:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - run: npx vercel --token ${{ env.VERCEL_TOKEN }} >> $GITHUB_STEP_SUMMARY
